<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhargain.azam.bb" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/bone_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bhargain.azam.bb.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bhargain.azam.bb.AddEntry"
            android:label="Add New Entry">
            <intent-filter>
                <action android:name="com.bhargain.azam.bb.AddEntry" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.bhargain.azam.bb.ListViewDisplay"
            android:label="List View">
            <intent-filter>
                <action android:name="com.bhargain.azam.bb.ListViewDisplay" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.bhargain.azam.bb.BloodInfo"
            android:label="List View">
            <intent-filter>
                <action android:name="com.bhargain.azam.bb.BloodInfo" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
